<!DOCTYPE html>

<% if logged_in? %>
<div class="container">

<div class="row">
<div class="search_form">
    <div class="new_teammember"><%= link_to "Add Team Members", new_team_member_path %></div>
  <%= form_tag(root_path)  do %>
<%= text_field_tag :user_name, params[:search], onkeyup: "FilterUsers()", placeholder: "Start typing to filter your team..."  %>
<% end %>
</div>
</div>

</div>

<% if @feed_items.any? %>
<div class="team_members_list">
  <table class="team_members_list_header">
    <tr>
      <th class="name">Name</th>
      <th class="status">Status</th>
      <th class="date">Details</th>
    </tr>
  </table>
<table id="team_members_list">
      <%= render @feed_items %>
</table>
</div>
  <% else %>
  <h4>Welcome to RollCall!</h4>
    <p>Get started by <%= link_to "adding team members", new_team_member_path %></p>
<% end %>


<% else %>

<div class="container-fluid">
  <div class="row hero">
    <div class="col">
<h1>Track who's on-site &amp; log the hours they work</h1>
<h2>
RollCall app is the easiest way to know when your team checked in for work and how many hours they did. Use it on your mobile away from the office to conduct roll calls in the event of a fire drill or other emergency situation.
</h2>

<%= link_to "Get Started", signup_path , class: "btn btn-primary signup" %>
</div>
</div>
<div class="row hero"><div class="col">
<%= link_to image_tag("admin-landing-page.png", alt: "RollCall app being used in an iPad", class: "hero-image") %>
</div>
</div>

</div>

<div class="container-fluid blue-section">
  <div class="row">
    <div class="col">
  </div>
</div>

</div>


<% end %>
