<% provide(:title, 'Org users') %>
<h1>Add a new team member</h1>



<div id="individual">
  <p id="toggle">
      <a class="active">Add one at a time</a>
      <a>Upload via CSV</a>
  </p>
  <%= form_for TeamMember.new do |f| %>
  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name, class:'form-control'%>
    <%= f.label :last_name %>
    <%= f.text_field :last_name, class:'form-control'%>
    <%= f.label :email %>
    <%= f.email_field :email, class:'form-control'%>
  </div>
  <%= f.submit "Add Team Member", class: "btn btn-primary" %>
<% end %>
</div>

<div id="bulk">
  <p id="toggle">
      <a>Add one at a time</a>
      <a class="active">Upload via CSV</a>
  </p>

<div class="container-fluid">
  <div class="row">
    <div class="col-4">
<%= form_tag import_team_members_path, multipart: true do %>
  <%= file_field_tag :file, class: 'upload' %>
  <label for="file" id="file_upload"><span>Choose your file</span></label>
  <%= submit_tag "Import CSV", class: "btn btn-primary" %>
<% end %>
</div>

<div class="example_csv col-8">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eleifend magna maximus quam interdum, in viverra diam lobortis. Nam tincidunt dictum lorem, a varius sem. Praesent mattis vulputate ligula eu vestibulum. Aenean id viverra lorem, at aliquam lacus. Donec laoreet, nisi in interdum viverra, lectus erat blandit erat, laoreet molestie orci sem non enim. </p>
<%= link_to image_tag("csv-example.png", alt: "Example CSV layout") %>
</div>
</div>
</div>

</div>
