<% provide(:title, @team_member.first_name) %>

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @team_member.first_name %> <%= @team_member.last_name %>
      </h1>
<div id="signin_box">
<%= in_or_out %>
</div>
    </section>
  </aside>
</div>

<h4>Shifts</h4>


<% @signin_sheets.each do |month, shifts|%>
  <table class="team_members_list">
    <h2><%= month.strftime('%B')%></h2>
  <b>Total  <%= formatted_duration(shifts.pluck(:shift_length).inject(0){|sum, x| sum + x }) %></b>
    <tr>
      <th>Shift length</th>
      <th>Shift date</th>
    </tr>
<% for shift in shifts %>
<tr>
<td><%= formatted_duration(shift.shift_length) %></td>
<td><%= shift.created_at.to_date.to_s(:long) %></td>
<% end %>
</tr>
<% end %>
</table>

<h3>Delete this team member</h3>
<%= link_to "delete", @teammember, method: :delete,
                                    data: {confirm: "are you sure? "} %>
